{{page-title 'User'}}
<div class="container has-text-centered">
  <div class="column is-3 is-offset-4">

    <LinkTo @route="users">
      <button class="button mb-2" type="button">
        Back to users
      </button>
    </LinkTo>

    <div class="user-profile card">

      <div class="card-image">
        <figure class="image is-square">
          <img src={{@model.image}} alt="User" />
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <p class="title has-text-white my-2">
            {{@model.name}}
          </p>
        </div>

        <p class="subtitle has-text-white my-2">
          {{@model.value}}
        </p>
        <footer class="card-footer">

          {{#if (eq model.archive false)}}

          <a href="#" class="card-footer-item" onclick={{action @model.archiveClick}}>
            <div class="icon-text">
              <span class="icon has-text-info">
                <i class="fas fa-box"></i>
              </span>
              <span>Archive</span>
            </div>
          </a>

          {{else}}
          <a href="#" class="card-footer-item" onclick={{action @model.archiveClick}}>
            <div class="icon-text">
              <span class="icon has-text-info">
                <i class="fas fa-box"></i>
              </span>
              <span>Unarchive</span>
            </div>
          </a>
          {{/if}}
        </footer>

        {{!-- Place the component to archive/unarchive users here --}}
      </div>
    </div>
  </div>
</div>
{{outlet}}